# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
venv/
env/

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Vite
frontend/dist/
